@import url('https://fonts.googleapis.com/css?family=Poppins');

$card-width: 450px;
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    font-family: Poppins;
    color: #9d9a9d;
    background-color: #111;
}

a {
    color: #6166f3;
}

.body-complete {
    opacity:  0;
    animation:  fadeIn 3s both;
    transition-timing-function:  ease;
}

@keyframes fadeIn {
    0% {
        opacity:  0;
    }
    100% {
        opacity:  1;
    }
}

header {
    height: 115px;
    .user {
        display: flex;
        box-shadow: 0px 0px 5px #464146;
    
        .img-profile {
            width: 50px;
            height: 50px;
            margin: 10px;
            overflow: hidden;
            border-radius: 50%;
    
            img {
                width: 100%;
            }
        }
    
        .username {
            margin: 10px;
            font-family: Helvetica;

            .profession {
                font-size: 10px;
            }

        }
        
    }

    .menu {
        width: 100%;
        overflow: auto;
        text-align: center;
        white-space: nowrap;
        list-style: none;
    }

    .menu-fixed {
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: #111;
        box-shadow: 0px 0px 5px #464146;
    }

    @mixin menuItem() {
        font-size: 15px;
        margin: 10px;
        cursor: pointer;
        display: inline-block;
        transition: 0.2s;
        padding-left: 10px;
        padding-right: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .menu-item {
        @include menuItem();
    }

    .focused {
        @include menuItem();
        box-shadow: 0px 0px 5px #464146;
    }

}

.content {
    width: 100vw;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px #464146;
}

.content::-webkit-scrollbar, .menu::-webkit-scrollbar  {
    height: 0;
}

.box-card {
    display: flex;
    list-style: none;
    font-size: 0px;
    position: relative;
    transition: all ease 0.5s;

    .card {
        display: inline-block;
        font-size: medium;
        transition: 0.3s;
        overflow: hidden;

        .card-text {
            font-size: 15px;
        }
        .card-list {
            list-style:  none;
            align-content:  center;

            .card-list-item {
                max-width:  500px;
                margin:  50px auto;
                text-align: center;

                .card-list-item-image {
                    position: relative;
                    width:  100%;
                }

                .img-min {
                    width: 250px !important;
                }

                .animation-image-left {
                    left:  -250px;
                    opacity:  0;
                    animation:  showImgLeft 1.5s both;
                    transition-timing-function:  ease;
                }

                @keyframes showImgLeft {
                    0% {
                        left:  -250px;
                        opacity:  0;
                    }
                    100% {
                        left:  0px;
                        opacity:  1;
                    }
                }
                .animation-image-right {
                    left:  500px;
                    opacity:  0;
                    animation:  showImgRight 1.5s both;
                    transition-timing-function:  ease;
                }

                @keyframes showImgRight {
                    0% {
                        left:  500px;
                        opacity:  0;
                    }
                    100% {
                        left:  0px;
                        opacity:  1;
                    }
                }

                p {
                    margin: 10px;
                    text-align: left;
                }
            }
        }
    }
}

.return-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #464146;
    cursor: pointer;

    span {
        width:0px;
        height:0px;
        position: relative;
        top: -25%;
        left: 5px;
        border: 20px solid transparent;
        border-bottom-color: #464146;
    }
}

footer {
    text-align: center;

    .info {
        padding: 10px;

        a {
            color: #9d9a9d;
            margin: 10px 5px;
            text-decoration: none;
        }

        img {
            width: 30px;
        }
    }
}