.menu {
    width: 100%;
    overflow: auto;
    text-align: center;
    white-space: nowrap;
    list-style: none;
}

.menu-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #111;
    box-shadow: 0px 0px 5px #464146;
}

.menu-item {
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.focused {
    box-shadow: 0px 0px 5px #464146;
}